@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Martian+Mono:wght@300&family=Poppins:wght@100&family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --branco: #fff;
    --cor_1: #09030c;
    --cor_2: #240c32;
    --cor_3: #3d1952;
    --cor_destaques: #18b06e;
}

body{
    background-color: var(--cor_1);
}
