@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,200;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Martian+Mono:wght@300&family=Poppins:wght@100&family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --branco: #fff;
    --cor_header_footer: #08000b
    --cinza: #969494;
    --cor_1: #141e2a;
    --cor_2: #11241d;
    --cor_3: #201224;
    --cor_4: #1a1838;
    --cor_5: #301117;
    --cor_destaques: #18b06e;
}

body{
    background-color: #08000b;
    height: 100vh;
    font-family: 'Lato';
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--cor_header_footer);
    min-height: 50px;
}

.box-image-header{
    height: 100%;
}

.imagem_logo{
    max-width: 60px;
    max-height: 60px;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav_Portifolio{
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3rem;
}

.nav_Portifolio:hover{
    color: var(--cinza);
    transition: 0.4s;
    cursor: default;
}


main{
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 5rem;
    margin: 0;
}



.projeto_1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 625px;
    flex-wrap: wrap;
    background-color: var(--cor_1);
    box-sizing: border-box;
}

.projeto_1> div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-height: 450px;
    margin-bottom: 0;
}

h1{
    font-size: 2rem;
    color: var(--branco);
    letter-spacing: 0.5rem;
    font-family: 'Lato';
}

.projeto_1 p{
    max-width: 550px;
    text-align: justify;
    color: var(--branco);
}

.projeto_1 a{
    color: orange;
}

.projeto_1 strong{
    color: orange;
}

.box_imagem_principal_1{
   max-width: 450px;
   padding: 1rem;
}

.Imagem_ludo{
    border-radius: 50%;
    width: 100%;
}


.projeto_2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 625px;
    flex-wrap: wrap;
    background-color: var(--cor_2);
    box-sizing: border-box;
}

.projeto_2> div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-height: 450px;
    margin-bottom: 0;
}

h1{
    font-size: 2rem;
    color: var(--branco);
    letter-spacing: 0.5rem;
    font-family: 'Lato';
}


.projeto_2 > div > p{
        max-width: 550px;
        text-align: justify;
        color: var(--branco);
        padding-top: 1rem;
        padding-bottom: 1rem;
}

.projeto_2 a{
    color: brown;
}

.projeto_2 strong{
    color: brown;
}

.box_imagem_principal_2{
   max-width: 450px;
   padding: 1rem;
}

.Imagem_Rouba_Montes{
    border-radius: 50%;
    width: 100%;
}


.projeto_3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 625px;
    flex-wrap: wrap;
    background-color: var(--cor_3);
    box-sizing: border-box;
}

.projeto_3> div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-height: 450px;
    margin-bottom: 0;
}

h1{
    font-size: 2rem;
    color: var(--branco);
    letter-spacing: 0.5rem;
    font-family: 'Lato';
}

.projeto_3 p{
    max-width: 550px;
    text-align: justify;
    color: var(--branco);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projeto_3 a{
    color: yellow;
}

.projeto_3 strong{
    color: yellow;
}

.box_imagem_principal_3{
   max-width: 450px;
   padding: 1rem;
}

.Imagem_Ordenação{
    border-radius: 50%;
    width: 100%;
}


.projeto_4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 625px;
    flex-wrap: wrap;
    background-color: var(--cor_4);
    box-sizing: border-box;
}

.projeto_4> div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-height: 450px;
    margin-bottom: 0;
}

h1{
    font-size: 2rem;
    color: var(--branco);
    letter-spacing: 0.5rem;
    font-family: 'Lato';
}

.projeto_4 p{
    max-width: 550px;
    text-align: justify;
    color: var(--branco);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projeto_4 a{
    color: aqua;
}

.projeto_4 strong{
    color: aqua;
}

.box_imagem_principal_4{
   max-width: 450px;
   padding: 1rem;
}

.Imagem_Calculadora{
    border-radius: 50%;
    width: 100%;
}


.projeto_5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 625px;
    flex-wrap: wrap;
    background-color:var(--cor_5);
    box-sizing: border-box;
}

.projeto_5> div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-height: 450px;
    margin-bottom: 0;
}

h1{
    font-size: 2rem;
    color: var(--branco);
    letter-spacing: 0.5rem;
    font-family: 'Lato';
}

.projeto_5 p{
    max-width: 550px;
    text-align: justify;
    color: var(--branco);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projeto_5 a{
    color: tan;
}

.projeto_5 strong{
    color: tan;
}

.box_imagem_principal_5{
   max-width: 450px;
   padding: 1rem;
}

.Imagem_Site{
    border-radius: 50%;
    width: 100%;
}


footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--cor_header_footer);
}


footer div{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    color: var(--branco);
}
